<section class="bg-black min-vh-100">
  <p class="fs-1 text-center text-capitalize">project May useful to you</p>

  <div class="container">
    <div class="row g-4">
      <div class="col-md-6">
        <div class="card position-relative">
          <img
            class="card-img-top"
            src="/images/Screenshot 2025-05-23 021907.png"
            alt="Title"
          />
          <div
            class="card-body d-flex flex-column justify-content-between text-white text-center bg-black bg-opacity-75 w-100 h-100 position-absolute"
          >
            <div class="text-end new d-flex flex-column gap-2 align-items-end">
              <span class="rounded-2 bg-info p-1 px-4">new</span>
              <span class="rounded-2 bg-success p-1 px-4">Messy app</span>
            </div>
            <a
              title="visit site"
              href="https://messy-to-do.vercel.app/"
              target="_blank"
            >
              <i class="fa-brands my-3 fa-google-play playIcon text-white"></i
            ></a>
            <div class="content mb-2">
              <h4 class="card-title text-white">Todo_list App</h4>
              <p class="card-text">
                this app to do list to do your Tasks in your daily
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card position-relative">
          <img
            class="card-img-top"
            src="/images/Screenshot 2025-05-23 022027.png"
            alt="Title"
          />
          <div
            class="card-body d-flex flex-column justify-content-between text-white text-center bg-black bg-opacity-75 w-100 h-100 position-absolute"
          >
            <div class="text-end new d-flex flex-column gap-2 align-items-end">
              <span class="rounded-2 bg-info p-1 px-4">new</span>
              <span class="rounded-2 bg-success p-1 px-4">BookMarker</span>
            </div>
            <a
              title="visit site"
              href="https://bookmarker-vert.vercel.app/"
              target="_blank"
            >
              <i class="fa-brands my-3 fa-google-play playIcon text-white"></i
            ></a>
            <div class="content mb-2">
              <h4 class="card-title text-white">BookMarker App</h4>
              <p class="card-text">
                this app to save your site you may need it in the future
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
