<footer class="text-white text-center bg-dark text-lg-start">
  <!-- Copyright -->

  <section class="social py-3 g-5 d-flex justify-content-center">
    <a
      data-mdb-ripple-init
      class="btn facebook text-white btn-floating m-1"
      href="https://www.facebook.com/profile.php?id=100008368725306"
      target="_blank"
      role="button"
      ><i class="fab fa-facebook-f"></i
    ></a>

    <a
      data-mdb-ripple-init
      class="btn text-white twitter btn-floating m-1"
      href="https://x.com/karimfarouh"
      target="_blank"
      role="button"
      ><i class="fab fa-twitter"> </i
    ></a>

    <a
      data-mdb-ripple-init
      class="btn text-white google btn-floating m-1"
      role="button"
      ><i class="fab fa-google"></i
    ></a>

    <a
      data-mdb-ripple-init
      class="btn text-white btn-floating insta m-1"
      role="button"
      ><i class="fab fa-instagram"></i
    ></a>

    <a
      data-mdb-ripple-init
      class="btn text-white linkedin btn-floating m-1"
      href="https://www.linkedin.com/in/kareem-farouh/"
      target="_blank"
      role="button"
      ><i class="fab fa-linkedin-in"></i
    ></a>

    <a
      data-mdb-ripple-init
      class="btn text-white btn-floating github m-1"
      href="https://github.com/Kareem-Mohamed-Farouh"
      target="_blank"
      role="button"
      ><i class="fab fa-github"></i
    ></a>
  </section>

  <div class="text-center mx-auto p-2">
    © 2025 Copyright:
    <a
      class="text-decoration-none"
      href="https://www.linkedin.com/in/kareem-farouh/"
      target="_blank"
      ><i class="me-2 fa-brands fa-linkedin"></i> KaFO_O7
    </a>
  </div>
  <!-- Copyright -->
</footer>

<!-- <footer class="bg-body-tertiary text-center">
  <div class="container p-4 pb-0"></div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2020 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer> -->
